# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [14]:
tpl = tuple(range(1, 11))
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(tpl[0]) # first element
print(tpl[int(len(tpl)/2)]) # middle element
print(tpl[-1]) # last element

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
print(tpl)
print(tpl[:3]) # first three elements
print(tpl[-3:]) # last three elements
print(tpl[2:6]) # printing index 2 to 5 that is 3rd to 6th element

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
matrix = (
    (1, 2, 3), 
    (4, 5, 6), 
    (7, 8, 9)
        )

print(matrix)
print(matrix[1][2]) # 2nd row 3rd column

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [13]:
tpl1 = (1, 2, 3)
tpl2 = (4, 5, 6)

tpl3 = tpl1 + tpl2
print(tpl3)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [15]:
tpl_methods = (1,2,2,3,4,4,4,5)
print(tpl_methods.count(4)) # count the number of 4 in tuple
print(tpl_methods.index(2)) # index of first occurance of 2

3
1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [17]:
tpl_packed = (1, 2, 3, 4, 5)
print(tpl_packed)
a, b, c, d, e = tpl_packed
print(a)
print(b)
print(c)
print(d)
print(e)

(1, 2, 3, 4, 5)
1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [19]:
lst = [1, 2, 3, 4, 5]
tpl_converted = tuple(lst)
print(type(tpl_converted))
print(tpl_converted)

<class 'tuple'>
(1, 2, 3, 4, 5)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
tpl_of_tpl = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
print(tpl_of_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [21]:
tpl_of_positive_int = (1, 2, 3, 4, 5)
lst_of_positive_int = list(tpl_of_positive_int)
lst_of_positive_int.append(6)
tpl_of_positive_int = tuple(lst_of_positive_int)
print(tpl_of_positive_int)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [23]:
string = "Harry"
tpl_of_string = tuple(string)
print(tpl_of_string)
joined_string = ''.join(tpl_of_string)
print(joined_string)

('H', 'a', 'r', 'r', 'y')
Harry

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [25]:
tpl_dict = {(1,2):"one", (3,4):"two"}
print(tpl_dict)
print(type(tpl_dict))

{(1, 2): 'one', (3, 4): 'two'}
<class 'dict'>

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [29]:
tpl_nested = ((1,2,3), (4,5,6), (7,8,9))
print(tpl_nested)

for tpl in tpl_nested:
    for i in tpl:
        print(i, end=' ')
    print()

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1 2 3
4 5 6
7 8 9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [30]:
tpl_with_duplicate_elem = (1, 2, 2, 3, 4, 4, 4, 5)
print(tpl_with_duplicate_elem)

set_from_tpl = set(tpl_with_duplicate_elem)
print(set_from_tpl)

(1, 2, 2, 3, 4, 4, 4, 5)
{1, 2, 3, 4, 5}

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [35]:
def min_max_sumOfElements(tpl):
    print("Minimum element is: ", min(tpl))
    print("Maximum element is: ", max(tpl))
    print("Sum of elements is: ", sum(tpl))

sample_tpl = (1, 2, 3, 4, 5)
min_max_sumOfElements(sample_tpl)

Minimum element is:  1
Maximum element is:  5
Sum of elements is:  15