In [2]:
# Tuples: is a collection of items which is ordered and unchangeable/Immutable . Allows duplicate members.
# Tuple items are indexed, the first item has index [0], the second item has index [1] etc.
# Tuples are written with round brackets.

# Create a Tuple:
tuple1 = ("apple", "banana", "cherry")
print(tuple1)

('apple', 'banana', 'cherry')

In [3]:
tple = tuple()
print(type(tple))

<class 'tuple'>

In [4]:
numbers = tuple([1, 2, 3, 4, 5])
print(numbers)

(1, 2, 3, 4, 5)

In [6]:
# Access Tuple Items:
print(tuple1[1])
numbers[1]

banana

2

In [7]:
numbers[-1]

5

In [8]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [9]:
## Tuples Operations:
# 1. Concatenation
tuple2 = tuple1 + numbers
print(tuple2)

('apple', 'banana', 'cherry', 1, 2, 3, 4, 5)

In [11]:
# 2. Repetition
tuple3 = tuple1 * 2
print(tuple3)
mumbers = numbers * 3
print(mumbers)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [12]:
# 3. Membership
print("apple" in tuple1)
print("apple" not in tuple1)

True
False

In [13]:
# 4. Iteration
for item in tuple1:
    print(item)

apple
banana
cherry

In [14]:
# 5. Slicing
print(numbers[1:4])
print(numbers[1:4:2])
print(numbers[::-1])

(2, 3, 4)
(2, 4)
(5, 4, 3, 2, 1)

In [15]:
# 6. Length
print(len(numbers))

# 7. Count
print(numbers.count(2))

# 8. Index
print(numbers.index(2))

# 9. Min and Max
print(min(numbers))

print(max(numbers))

5
1
1
1
5

In [16]:
# 10. Tuple Methods
# 1. count()
# 2. index()

# 11. Tuple Packing and Unpacking
# Packing
t = 1, 2, 3, 4
print(t)

# Unpacking
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)

(1, 2, 3, 4)
1
2
3
4

In [17]:
# 12. Tuple Comprehension
# Tuple comprehension is not supported by Python, but you can use generator expressions to create tuples.
# Example:

t = (x**2 for x in range(5))
print(t)
print(tuple(t))

<generator object <genexpr> at 0x000001CC0BD175E0>
(0, 1, 4, 9, 16)

In [18]:
# 13. Tuple Methods and Functions
# 1. len()
# 2. max()
# 3. min()
# 4. sum()
# 5. sorted()
# 6. any()
# 7. all()
# 8. enumerate()
# 9. zip()
# 10. reversed()
# 11. tuple()
# 12. count()
# 13. index()
# 14. del()
# 15. clear()
# 16. copy()
# 17. append()
# 18. extend()
# 19. insert()
# 20. remove()
# 21. pop()

In [20]:
# unpacking with * operator

a, *b, c = (1, 2, 3, 4, 5)
print(a)
print(b) # it is tacking all the values except the first and last
print(c)

1
[2, 3, 4]
5

In [21]:
# Nested Tuples
t = (1, 2, 3, (4, 5, 6))
print(t)

(1, 2, 3, (4, 5, 6))

In [25]:
print(t[3])
print(t[3][0])

(4, 5, 6)
4

In [26]:
# Immutable
# Tuples are immutable, which means you cannot change the values in a tuple.

t[0] = 5
print(t)

TypeError: 'tuple' object does not support item assignment